*{
  box-sizing: border-box;
}

body, html{
padding: 0px;
margin: 0px;;
}

body{
  background-color: #FF5C3317;
  color: #FF545454;
  text-align: center;
  margin: 200px;
  margin-top: 50px;
}

p{
 font-family:Serif;
 font-size: 150%;
}

.btsImage{
  width: 70%;
}

.bts_{
 font-family:Serif;
 font-size: 400%;
 margin-top: 100px;
}

.bts2{
  font-family:Serif;
  font-size: 200%;
  margin-bottom: 10px;
}
.source{
  font-family:Serif;
  font-size: 150%;
  margin-bottom: 100px;
}

.parrentDemo{
  padding: 30px;
  padding-bottom: 60px;
  background-color: #FF545454;
  text-align: center;
  color: #FFFFFF;
}
.childDemo{
  display: inline-block;
  margin: 5px;
  color: #FFFFFF;
}
